[Desktop Entry]
Encoding=UTF-8
Name=TLPUI
Comment=Adavanced Power Management (TLP)
Keywords=TLP TLP-UI
Exec=/usr/bin/tlpui
Terminal=false
Type=Application
Categoriescom=Settings;System;Utility
