[Desktop Entry]
Encoding=UTF-8
Name=TLPUI
Icon=preferences-system-power-management
Comment=Adavanced Power Management (TLP)
Keywords=TLP TLP-UI
Exec=/usr/bin/tlpui
Terminal=false
Type=Application
Categories=Settings;System;Utility
